.image-poster {
    position: relative;
    width: 100%;
    overflow: hidden;  /* Prevent zoom overflow */
}

.image-poster img {
    width: 100%;
    height: 30rem;
    display: block;
    animation: zoomInOut 10s ease-in-out infinite;  /* Infinite loop of zoom animation */
}

.poster-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.5rem;
    width: 40%;
    min-width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    animation: slideIn 3s ease-out forwards;
    box-sizing: border-box;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);  /* Normal scale at start and end */
    }
    50% {
        transform: scale(1.1);  /* Slightly larger scale at midpoint */
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.info-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    padding: 20px;
    /* background-color:rgb(204 251 241 / var(--tw-bg-opacity)); */
    color: blue;
}

.car-container {
    width: 40%; /* Adjusted width based on layout needs */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the car image vertically and horizontally */
    animation: zoomInOut 5s infinite; /* Animation for the car image */
}

.flex-car-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.info-content {
    flex: 1;
    padding-left: 20px;
}

.info-header h1 {
    font-size: 3rem;
    line-height: 1.4; /* Adjust line height */
    font-weight: bold;
    color: #2C268C;
}

.info-header h1 span {
    display: block; /* Each phrase on its own line */
}

.info-description p {
    margin-top: 20px;
    color: black;
}

.info-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.stat h2 {
    font-size: 2rem;
    color: black;
}

.stat .stat-highlight {
    color: #2C268C; /* Highlight "+" with blue */
}

.stat p {
    font-size: 0.75rem;
    text-transform: uppercase;
}
.flex-car-image {
    transition: transform 0.3s ease-in-out;
}

.enlarged {
    transform: scale(1.5); /* Scale the image size up */
    z-index: 20;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #B0E0E6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.enlarged-image {
    max-width: 80%;
    max-height: 80%;
}

.car-container {
    cursor: pointer; /* Added to give a cue to users that it's clickable */
}

/* Features */

.card-container {
    display: flex;
    flex-wrap: wrap;  /* Allows items to wrap onto multiple lines, from top to bottom. */
    justify-content: space-evenly; /* Distributes space between and around content items along the main-axis. */
    align-items: center; /* Aligns items along the cross-axis. */
    width: 100%; /* Ensures the container takes full width of its parent to evenly space the cards. */
}

.card {
    flex: 1 0 22%; /* Each card will take up approximately 22% of the container width, flex-grow: 1, flex-shrink:0 */
    margin: 10px; /* Add margin for spacing between cards */
    height: auto; /* Makes height adjust based on content */
}

.card-front__heading {
    font-size: 1.5rem;
    margin-top: .25rem;
  }
  
  /* Main heading for inside page */
  .inside-page__heading { 
    padding-bottom: 1rem; 
    width: 100%;
  }
  
  /* Mixed */
  
  /* For both inside page's main heading and 'view me' text on card front cover */
  .inside-page__heading,
  .card-front__text-view {
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: .2rem;
  }
  
  .inside-page__heading--city,
  .card-front__text-view--city { color: #ff62b2; }
  
  .inside-page__heading--ski,
  .card-front__text-view--ski { color: #2aaac1; }
  
  .inside-page__heading--beach,
  .card-front__text-view--beach { color: #fa7f67; }
  
  .inside-page__heading--camping,
  .card-front__text-view--camping { color: #00b97c; }
  
  /* Front cover */
  
  .card-front__tp { color: #fafbfa; }
  
  /* For pricing text on card front cover */
  .card-front__text-price {
    font-size: 1.2rem;
    margin-top: -.2rem;
  }
  
  /* Back cover */
  
  /* For inside page's body text */
  .inside-page__text {
    color: #333;
  }
  
  /* Icons ===========================================*/
  
  .card-front__icon {
    fill: #fafbfa;
    font-size: 3vw;
    height: 3.25rem;
    margin-top: -.5rem;
    width: 3.25rem;
  }
  
  /* Buttons =================================================*/
  
  .inside-page__btn {
    background-color: transparent;
    border: 3px solid;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    overflow: hidden;
    padding: .7rem .75rem;
    position: relative;
    text-decoration: none;
    transition: all .3s ease;
    width: 90%;
    z-index: 10;
  }
  
  .inside-page__btn::before { 
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transition: all .3s ease;
    width: 100%;
    z-index: -1;
  }
  
  .inside-page__btn--city { 
    border-color: #ff40a1;
    color: #ff40a1;
  }
  
  .inside-page__btn--city::before { 
    background-color: #ff40a1;
  }
  
  .inside-page__btn--ski { 
    border-color: #279eb2;
    color: #279eb2;
  }
  
  .inside-page__btn--ski::before { 
    background-color: #279eb2;
  }
  
  .inside-page__btn--beach { 
    border-color: #fa7f67;
    color: #fa7f67;
  }
  
  .inside-page__btn--beach::before { 
    background-color: #fa7f67;
  }
  
  .inside-page__btn--camping { 
    border-color: #00b97d;
    color: #00b97d;
  }
  
  .inside-page__btn--camping::before { 
    background-color: #00b97d;
  }
  
  .inside-page__btn:hover { 
    color: #fafbfa;
  }
  
  .inside-page__btn:hover::before { 
    transform: scaleY(1);
  }
  
  /* Layout Structure=========================================*/
  
  .main {
    background: linear-gradient(
      to bottom right,
      #eee8dd,
      #e3d9c6
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  /* Container to hold all cards in one place */
  .card-area {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-evenly;
    padding: 1rem;
  }
  
  /* Card ============================================*/
  
  /* Area to hold an individual card */
  .card-section {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  
  /* A container to hold the flip card and the inside page */
  .card {
    background-color: rgba(0,0,0, .05);
    box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
    height: 15rem;
    position: relative;
    transition: all 1s ease;
    width: 15rem;
  }
  
  /* Flip card - covering both the front and inside front page */
  
  /* An outer container to hold the flip card. This excludes the inside page */
  .flip-card {
    height: 15rem;
    perspective: 100rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    visibility: hidden;
    width: 15rem;
    z-index: 100;
  }
  
  /* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
  /* This is done so content in the inside page can be selected */
  .flip-card > * {
    visibility: visible;
  }
  
  /* An inner container to hold the flip card. This excludes the inside page */
  .flip-card__container {
    height: 100%;
    position: absolute;
    right: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease;
    width: 100%;
  }
  
  .card-front,
  .card-back {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  /* Styling for the front side of the flip card */
  
  /* container for the front side */
  .card-front {
    background-color: #fafbfa;
    height: 15rem;
    width: 15rem;
  }
  
  /* Front side's top section */
  .card-front__tp {
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    padding: .75rem;
  }
  
  .card-front__tp--city {
    background: linear-gradient(
      to bottom,
      #ff73b9,
      #ff40a1
    );
  }
  
  .card-front__tp--ski {
    background: linear-gradient(
      to bottom,
      #47c2d7,
      #279eb2
    );
  }
  
  .card-front__tp--beach {
    background: linear-gradient(
      to bottom,
      #fb9b88,
      #f86647
    );
  }
  
  .card-front__tp--camping {
    background: linear-gradient(
      to bottom,
      #00db93,
      #00b97d
    );
  }
  
  /* Front card's bottom section */
  .card-front__bt {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  /* Styling for the back side of the flip card */
  
  .card-back {
    background-color: #fafbfa;
    transform: rotateY(180deg);
  }
  
  /* Specifically targeting the <video> element */
  .video__container {
    clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
    height: auto;
    min-height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  /* Inside page */
  
  .inside-page {
    background-color: #fafbfa;
    box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
    height: 100%;
    padding: 1rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    width: 15rem;
    z-index: 1;
  }
  
  .inside-page__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center; 
    width: 100%;
  }
  
  /* Functionality ====================================*/
  
  /* This is to keep the card centered (within its container) when opened */
  .card:hover {
    box-shadow:
    -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
    width: 30rem;
  }
  
  /* When the card is hovered, the flip card container will rotate */
  .card:hover .flip-card__container {
    transform: rotateY(-180deg);
  }
  
  /* When the card is hovered, the shadow on the inside page will shrink to the left */
  .card:hover .inside-page {
    box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
  }
  
 /* FAQ */
 
.faq-card {
  position: relative;
  max-width: 21rem;
  width: 21rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
  padding: 2em;
  padding-top: 10em;
  border-radius: 2em;
  color: var(--Very-dark-grayish-blue);
  background-color: white;
  box-shadow: 5px 5px 30px rgba(0 0 0/ 0.3);
  transition: transform 200ms ease-in;
}

.faq-card:hover {
  transform: scale(1.015);
}

.faq__content {
  width: 100%;
}

.faq__title {
  margin-bottom: 1em;
  text-align: center;
  font-size: 2rem;
}

.faq__item {
  width: 100%;
  margin-bottom: 1.5em;
  border-bottom: 1px solid var(--Light-grayish-blue);
}

.faq__question {
  cursor: pointer;
  position: relative;
  margin-bottom: 1em;
  font-size: 0.9rem;
  font-weight: 400;
}

.faq__question:hover {
  color: var(--Soft-red);
}

.faq__answer {
  display: none;
  padding-bottom: 1.5em;
  color: var(--Dark-grayish-blue);
  line-height: 1.5em;
}

.arrow-icon {
  display: inline-block;
  position: absolute;
  top: 35%;
  right: 0;
  transform: rotate(0deg);
  transition: transform 300ms ease;
}

.img-bg {
  position: absolute;
  top: 0;
  left: 65px;
  width: 200px;
}

.img-woman {
  position: absolute;
  top: -85px;
  left: 65px;
  width: 200px;
}

/* attribution styling */

.attribution {
  font-size: 1rem;
  position: absolute;
  top: 0;
  color: var(---Very-dark-blue);
  opacity: 0.75;
}

.attribution a {
  color: white;
  text-decoration: underline;
}

.attribution a:hover {
  color: rgba(255 255 255/0.5);
}

/* media queries */

@media (min-width: 900px) {
  body {
    align-items: center;
    min-height: 100vh;
  }

  .faq-card {
    display: flex;
    justify-items: center;
    max-width: 60rem;
    width: 60rem;
    margin: 0;
    padding: 0;
  }

  .faq__content {
    order: 2;
    width: 45%;
    padding: 5em;
  }

  .faq__title {
    text-align: left;
  }

  .imgs__container {
    width: 50%;
    overflow: hidden;
    position: relative;
    border-radius: 2em 0 0 2em;
  }

  .img-bg {
    position: absolute;
    top: 120px;
    left: -100px;
    transform: scale(400%);
  }

  .img-woman {
    position: absolute;
    top: 170px;
    left: 70px;
    transform: scale(220%);
  }

  .img-box {
    position: absolute;
    top: 190px;
    left: -90px;
    transition: transform 1s ease-in;
  }

  body:hover .img-box,
  body:focus .img-box {
    animation: up-and-down 1.25s linear infinite alternate;
  }

  @keyframes up-and-down {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-20%);
    }
  }
}
/* Extra support */
.features-container {
    display: flex;
    justify-content: space-around; /* Adjust alignment as necessary */
    padding: 20px;
}

.feature {
    padding: 10px;
    text-align: center; /* Center the text and icon */
    width: 300px; /* Or any other width according to design */
    border: 1px solid gray; /* Optional, adds a border around each feature */
    border-radius: 10px; /* Optional, rounded corners for the border */
}

.feature-icon {
    font-size: 24px; /* Larger icons for better visibility */
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .info-flex-container {
        flex-direction: column;
    }
    
    .car-container {
        width: 100%; /* Full width on smaller screens */
    }
    
    .info-header h1 {
        font-size: 2rem; /* Smaller font size for mobile */
    }
    
    .info-content {
        padding-left: 0; /* Remove padding on smaller screens */
    }
}
/* Responsive adjustments for home poster */
@media (max-width: 768px) {
    .poster-text {
        font-size: 1.2rem;
        padding: 10px;
        width: 50%;
    }
}

@media (max-width: 480px) {
    .poster-text {
        font-size: 1rem;
        width: 60%;
        padding: 8px;
    }
}