header {
    text-align: center;
    background-color: white;  /* Set background to white */
    position: relative; /* Needed for absolute positioning of side logos */
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.side-logo {
    width: 6rem; /* smaller width for side logos */
    height: 6rem; /* maintain aspect ratio */
    border-radius: 50%; /* make it circular */
    position: absolute; /* absolute positioning */
}

.side-logo.left {
    left: 10px; /* left side */
}

.side-logo.right {
    right: 10px; /* right side */
}

.center-logo {
    width: 120px; /* larger width for center logo */
    height: auto;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 1rem; */
    padding-left: 8rem;
    padding-right: 5;
    background-color: #BBEAF4;
}
.nav-link1 {
    color: black;
    text-decoration: none;
    padding:1.3rem;
    transition: color 0.3s;
}

.nav-link1:hover {
    color: #4caf50;
}
.nav-link {
    color: black;
    text-decoration: none;
    /* margin: 2rem; */
    /* margin-right: 7rem; */
    padding:1.3rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #4caf50;
}


.nav-toggle-button {
    display: none; /* Hide button by default */
    margin-left: auto; /* Push to the right of navbar */
}

/* Media query for mobile and tablet screen sizes */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-toggle-button {
        display: block; /* Show Menu button */
    }

    .nav-link {
        display: none; /* Hide desktop links initially */
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .mobile-nav .nav-link {
        display: block; /* Show links when menu is open */
        width: 100%; /* Full width */
        text-align: center;
    }
}